
@{
    ViewBag.Title = "Create";
}

@*<h2>Create Student</h2>

<form id="createStudent">
    <label>Name</label>
    <input name="Name" />
    <br />

    <label>CNIC Number</label>
    <input name="Cnic" />
    <br />

    <label>Email</label>
    <input name="Email" />
    <br />

    <label>Contact</label>
    <input name="Contact" />
    <br />

    <label>Parent</label>
    <input name="Parent" />
    <br />

    <label>RegNumber</label>
    <input name="RegNumber" />
    <br />

    <button id="saveBtn" type="button">Save</button>
</form>*@

<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Create Teacher</h2>
                            <span>Please Enter Following Details</span>
                        </div>
                        <div class="login-form">

                            <form id="createStudent">
                                <input name="Name" placeholder="Name" />
                                <input name="Cnic" placeholder="Cnic Number" />
                                <input name="Email" placeholder="Email" />
                                <input name="Contact" placeholder="Contact" />
                                <input name="Parent" placeholder="Parent" />
                                <input name="RegNumber" placeholder="RegNumber" />
                                <div class="button-box">
                                    <button class="default-btn" id="saveBtn" type="button">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: "POST",
            url: "/Student/Create",
            data: $("#createStudent").serialize()
        })
        .done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html("")
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("fail");
        });
    });
</script>
