
@{
    ViewBag.Title = "AdminPanel";
}

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>Admin Panel</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search user</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" placeholder="Search..." name="search" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <table id="ProductsTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="course-title">User Name</th>
                            <th class="course-title">Department</th>
                            <th class="course-title">Role</th>
                            <th class="course-title">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nabeel Sajid</td>
                            <td>
                                CSE
                            </td>
                            <td>ADMIN</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Usman ALi</td>
                            <td>
                                CSE
                            </td>
                            <td>TEACHER</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Shakeel</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Faraz Ali</td>
                            <td>
                                CSE
                            </td>
                            <td>TEACHER</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>ALI</td>
                            <td>
                                CSE
                            </td>
                            <td>STUDENT</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div>

                    <button class="default-btn" data-pageNo="2">Next</button>
                    <button class="default-btn" data-pageNo="2">1</button>
                    <button class="default-btn" data-pageNo="2">2</button>
                    <button class="default-btn" data-pageNo="2">3</button>
                    <button class="default-btn" data-pageNo="2">Last</button>
                </div>
            </div>
        </div>
    </div>
</div>
