
@{
    ViewBag.Title = "ParentPanel";
}

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>Parent Panel</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pr-0">
                <button class="btn btn-primary form-control" type="button" id="searchBtn">View Report</button>
            </div>
            <div class="col-md-4 pr-0">
                <button class="btn btn-primary form-control" type="button" id="resetBtn">Give Feedback</button>
            </div>
            <div class="col-md-4 pr-0">
                <button class="btn btn-primary form-control" type="button" id="newBtn">Ateenedence</button>
            </div>
        </div>
        <div class="row">
            <div>
                <table id="ProductsTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="course-title">Parent Name</th>
                            <th class="course-title">Gardian of</th>
                            <th class="course-title">Contact</th>
                            <th class="course-title">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nabeel Sajid</td>
                            <td>
                                Arslan Dogar
                            </td>
                            <td>03057398905</td>
                            <td class="wrap-td">
                                <button type="submit" class="default-btn" data-id="17">Edit</button>
                                <button type="submit" class="default-btn" data-id="17">Delete</button>
                                <button type="submit" class="default-btn" data-id="17">View Details</button>
                            </td>
                        </tr>
                        
                        
                        
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


