
@{
    ViewBag.Title = "Create";
}


<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Create Teacher</h2>
                            <span>Please Enter Following Details</span>
                        </div>
                        <div class="login-form">

                            <form id="createTeacher">
                                <input name="Name" placeholder="Name"/>
                                <input name="Cnic" placeholder="Cnic Number"/>
                                <input name="Email" placeholder="Email" />
                                <input name="Faculty" placeholder="Faculty" />
                                <input name="Hobies" placeholder="Hobies"/>
                                <input name="Experience" placeholder="Experience"/>
                                <input name="About" placeholder="About"/>
                                <input name="Degree" placeholder="Degree"/>
                                <input name="Designation" placeholder="Designation" />
                                <input name="Department" placeholder="Department"/>
                                <input name="Contact" placeholder="Contact"/>
                                <input id="imageUpload" name="Image" type="file" accept=".jpg, .png, .jpeg" />
                                <img id="teacherImage" />
                                <div class="button-box">
                                    <div class="login-toggle-btn">
                                        <input id="ImageURL" name="ImageURL" type="hidden" placeholder="Image" />
                                    </div>
                                    <button class="default-btn" id="saveBtn" type="button">Save</button>
                                </div>
                           </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: "POST",
            url: "/Teacher/Create",
            data: $("#createTeacher").serialize()
        })
        .done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html("");
            focusAction("tableContainer")
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("fail");
        });
    });


    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
        .done(function (response) {
            console.log(response);

            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#teacherImage").attr("src", response.ImageURL);
            }
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });
</script>