
@{
    ViewBag.Title = "Index";
}

<section class="notice-area pt-150 pb-150">
    <div class="container">

        <div id="tableContainer">
            @{
                Html.RenderAction("TeacherTable");
            }
        </div>

        <div id="actionContainer">

        </div>
    </div>
</section>